openapi: "3.1.3"
info:
  title: ACCI Framework REST API
  version: 1.0.0
  description: |
    REST-API-Dokumentation für das ACCI Framework.
    
    Diese API stellt Endpunkte für die Verwaltung von Multi-Tenant-Anwendungen,
    Benutzerverwaltung, Authentifizierung und verschiedene Enterprise-Funktionen bereit.
  contact:
    name: ACCI Framework Team
    url: https://github.com/your-org/acci-framework
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html

servers:
  - url: https://api.acci-framework.dev/v1
    description: Entwicklungsserver
  - url: https://api.acci-framework.com/v1
    description: Produktionsserver

security:
  - bearerAuth: []
  - tenantAuth: []

tags:
  - name: Authentication
    description: Authentifizierungs- und Autorisierungsendpunkte
  - name: Users
    description: Benutzerverwaltungsoperationen
  - name: Tenants
    description: Multi-Tenant-Verwaltung
  - name: Health
    description: Gesundheits- und Bereitschaftsprüfungen
  - name: Metrics
    description: Systemmetriken und Überwachung

paths:
  /health:
    get:
      tags:
        - Health
      summary: Gesundheitsprüfungsendpunkt
      description: Gibt den Gesundheitsstatus der API zurück
      security: []
      responses:
        '200':
          description: System ist gesund
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '503':
          description: System ist nicht gesund
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/login:
    post:
      tags:
        - Authentication
      summary: Benutzeranmeldung
      description: Authentifiziert einen Benutzer und gibt Zugriffstoken zurück
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Erfolgreich authentifiziert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '401':
          description: Authentifizierung fehlgeschlagen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    tenantAuth:
      type: apiKey
      in: header
      name: X-Tenant-ID

  schemas:
    HealthResponse:
      type: object
      properties:
        status:
          type: string
          enum: [healthy, unhealthy]
          description: Gesundheitsstatus des Systems
        version:
          type: string
          description: API-Version
        timestamp:
          type: string
          format: date-time
          description: Zeitstempel der Prüfung
        checks:
          type: array
          description: Liste der Komponentenprüfungen
          items:
            $ref: '#/components/schemas/HealthCheck'

    HealthCheck:
      type: object
      properties:
        component:
          type: string
          description: Name der geprüften Komponente
        status:
          type: string
          enum: [healthy, unhealthy]
          description: Status der Komponente
        details:
          type: object
          description: Zusätzliche Statusinformationen
          additionalProperties: true

    LoginRequest:
      type: object
      required:
        - email
        - password
        - tenant_id
      properties:
        email:
          type: string
          format: email
          description: E-Mail-Adresse des Benutzers
        password:
          type: string
          format: password
          description: Benutzerpasswort
        tenant_id:
          type: string
          format: uuid
          description: Mandanten-ID

    LoginResponse:
      type: object
      properties:
        access_token:
          type: string
          description: JWT-Zugriffstoken
        refresh_token:
          type: string
          description: JWT-Aktualisierungstoken
        token_type:
          type: string
          enum: [bearer]
          description: Tokentyp (immer 'bearer')
        expires_in:
          type: integer
          description: Ablaufzeit in Sekunden
        scope:
          type: string
          description: Berechtigungsumfang

    ErrorResponse:
      type: object
      properties:
        code:
          type: string
          description: Fehlercode
        message:
          type: string
          description: Fehlermeldung
        details:
          type: object
          description: Zusätzliche Fehlerdetails
          additionalProperties: true
        request_id:
          type: string
          description: Eindeutige Anfrage-ID 